h4 {
	margin-bottom: 10px;
}
#editor {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
}
.ide_header {
	margin-bottom: 5px;
}
.mvc_data {
	overflow-y: scroll;
	padding-right: 10px;
}