/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONTS */

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v3/UyYrYy3ltEffJV9QueSi4Z4t0mJKPaLVqklzZuc32b4.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url('http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xGAzD5WKQVN4wSyA0MYYi4rr7w4p9aSvGirXi6XmeXNA.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('http://themes.googleusercontent.com/static/fonts/droidserif/v3/QQt14e8dY39u-eYBZmppwRbnBKKEOwRKgsHDreGcocg.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url('http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xM6Eyu0BCqAfob_z3hhzRFzr7w4p9aSvGirXi6XmeXNA.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v3/Q_pTky3Sc3ubRibGToTAYnhM4mdXpoxYNWk7Ev34U70.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}


/* Globals */

#wrap {
	width:920px;
	position: relative;
	margin:8px auto 16px auto;
	background-color: #e4e4e4;

}

a{
	color: #000;
	text-decoration:none;
	font-size:8px;
	text-transform:uppercase;
}

a:hover{
	text-decoration:underline;
}

body{
	color: #000;
	background-color: #e4e4e4;
	font-family:Helvetica, Arial, sans-serif;
}



/* Header */

#header{
	position:relative;
	width:920px;
	margin:auto;
	height:200px;
	padding-top: 10px;
	border-bottom:2px solid #000;
}

h1#logo{
	text-indent:-9999px;
	position:relative;
	margin:auto;
	background-image:url(http://fresh.theyoungastronauts.com/blog/themes/fresh/images/logo2.png);
	width:149px;
	height:169px;
	display: block;

}


#menu{
	position: absolute;
	width:450px;
	left:0px;
	bottom:2px;

}


#menu .menu_item{
	position:relative;
	float:left;
	height:16px;
	line-height:10px;
	font-size:8px;
	margin-right:4px;
	color: #E4E4E4;
}



#menu .menu_item a{
	font-family: "PT Sans Narrow";
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	color: #777;
	padding: 0;
	margin-right: 12px;
	letter-spacing: 0px;
	text-decoration: none;
}


#menu .menu_item.active a{
  color: #000 ;
  font-style:italic;
  font-weight:bold;
}

#social{
	position: absolute;
	width:300px;
	right:0px;
	bottom:0px;

}



#social .social_item a{
	position:relative;
	float:right;
	height:31px;
	width:29px;
	background-image:url(http://fresh.theyoungastronauts.com/blog/themes/fresh/images/icons_getfresh.gif);
	margin-left:2px;
	text-indent:-9999px;
	-webkit-transition:background-position 0.25s ease-in; 
	-moz-transition:background-position 0.25s ease-in; 
	-o-transition:background-position 0.25s ease-in;   
	transition:background-position 0.25s ease-in;
  
    
}

#hidden_instagram{
    position: absolute;
    font-size: 12px;
    color: #000;
    top:34px;
	font-weight: bold;
    right: 0px;
    text-shadow: 1px 1px 1px #fff;
    display: none;
}

#social .social_item a:hover{
    opacity: 1;
}

#social #social_item_facebook a{
	background-position:0px 0px;
}

#social #social_item_twitter a{
	background-position:-29px 0px;
}

#social #social_item_youtube a{
	background-position:-58px 0px;
}
#social_item_pintrest a{
    background-position:-87px 0px;
}

#social_item_instagram a{
    background-position:-116px 0px;
}



#social #social_item_facebook:hover a{
	background-position:0px -31px;
}

#social #social_item_twitter:hover a{
	background-position:-29px -31px;
}

#social #social_item_youtube:hover a{
	background-position:-58px -31px;
}

#social_item_pintrest:hover a{
    background-position:-87px -31px;
}
 #social_item_instagram:hover a{
	background-position:-116px -31px;
}


/* Sections */


#sections{
	position:relative;
	width:100%;
	height:200px;
	margin-top:14px;

}

.section{
	position:relative;
	width: 224px;
	margin-right: 8px;
	float: left;
	height:200px;
	opacity: .5;
	-moz-opacity: .5;
	filter:alpha(opacity=.5);

	-webkit-transition:opacity 0.25s ease-in; 
	-moz-transition:opacity 0.25s ease-in; 
	-o-transition:opacity 0.25s ease-in; 
	transition:opacity 0.25s ease-in; 
	cursor: pointer;
}

.section.active{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.section:hover{
	opacity:1;
	-moz-opacity:1;
	filter:alpha(opacity=1);
}

#section_freshbossin{
	background-image:url(http://fresh.theyoungastronauts.com/blog/themes/fresh/images/section1.jpg);
	background-position: center top;
}

#section_events{
	background-image:url(http://fresh.theyoungastronauts.com/blog/themes/fresh/images/thumb2.jpg);
}

#section_498{
	background-image:url(http://fresh.theyoungastronauts.com/blog/themes/fresh/images/thumb3.jpg);

}

#section_498 h3{
	color: #000;
	text-shadow: 0px 0px 5px #fff;
}

#section_doyou{
	margin-right:0px;
	background-image:url(http://fresh.theyoungastronauts.com/blog/themes/fresh/images/thumb4.jpg);
}



.section h3{
	display: block;
	padding-top: 76px;
	text-align:center;
	font-size:24px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
}

.section img{
	position:absolute;
	left:126px;
	top:26px;
}

/* Featured */

#feature_container{
	position:relative;
	width:100%;
	padding-top:10px;
	padding-bottom:0px;
	background-color:#000;
}

#feature_container #posts{
	width:920px;
	margin: auto;
}

#feature_container #posts .anythingSlider{
	height: 340px !important;
	width: 920px !important;


}

.slider.anythingBase{
	height: 340px !important;
	width: 920px !important;
}


#feature_container #posts .anythingSlider  .arrow a {
	background: url(images/anythingslider_dark.png) no-repeat;
	
}

/* back arrow */
#feature_container #posts .anythingSlider .back { left: 0px; }
#feature_container #posts .anythingSlider .back a { background-position: left top; }
#feature_container #posts .anythingSlider .back a:hover, div.anythingSlider .back a.hover { background-position: left -140px; }
#feature_container #posts .anythingSlider .back.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */


#feature_container #posts .anythingSlider .forward { right: 0px; }
#feature_container #posts .anythingSlider .forward a { background-position: right top; }
#feature_container #posts .anythingSlider .forward a:hover, div.anythingSlider .forward a.hover { background-position: right -140px; }
#feature_container #posts .anythingSlider .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */


/* Posts */


#posts{
	position: relative;
	width:100%;

}


.post{
	position: relative;
	width:100%;
	margin-top:8px;
	text-align: center;
}

.post .post_date{
	position:absolute;
	top:-8px;
	right:0px;
	height:26px;
	line-height:26px;
	background-color:rgba(0,0,0,.8);
	color:#fff;
	font-size:12px;
	font-weight:bold;
	padding-left:8px;
	padding-right:9px;
	letter-spacing:1px;
	z-index:100;
}

.post img{
	width:920px;
	margin: auto;
}





.post .post_caption{
	position: absolute;
	bottom: 60px;
	padding: 12px 10px 12px 10px;
	width:900px;
	background-color: rgba(0,0,0,.8);
	text-align: center;
	display: block;
	color:#fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
}

.post .post_caption a{
	color:rgba(255,255,255,.8);
	font-size: 12px;
	text-transform: uppercase;
}
.post .post_caption a:hover{
	color: rgba(255,255,255,1);
}



/* Footer */



#footer{
	position:relative;
	width:650px;
	margin:10px auto;
	height:70px;
	padding-top: 10px;
	border-top:2px solid #000;
}

#footer #footer_left{
	position: absolute;
	left:0px;
	top:8px;
	font-size:8px;
	text-transform:uppercase;
}

#footer #footer_right{
	position: absolute;
	right:0px;
	top:8px;
	font-size:8px;
	text-transform:uppercase;
}

#footer #footer_middle{
	width:57px;
	height:64px;
	margin:-6px auto;
}



.post .title h1{
	position: relative;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 6px;
}

.post .title p{
	display: none;
}

.post_caption h1{
	display: none;
}


/* ADD THIS */

.addthis_toolbox{
	padding-left:390px;
	margin-top: 5px;
	margin-bottom: 20px;
}
