/* Color Ref */
/*
 
 highlight text (teal): #color:#18b1a4;
 
*/


/* Z-index Ref */
/*
 
 containers (backgrounds): 1;
 header: 100;
 
*/

body {
    background-color:#E8E8E8;
    color:#fff;
    /*font-family:Helvetica, Arial, sans-serif;*/
    font-family: Futura, sans-serif;
    overflow-x: hidden;
}

a{
    -webkit-transition:color 0.2s ease-in;
}
.clear{
    clear:both;
}

.wrap{
    width:1280px;
    position:relative;
    margin:auto;
    border-left:2px solid #000;
    border-right:2px solid #000;
    min-height:800px;
    overflow:hidden;
    background-image:url(/img/site/backgrounds/texture.jpg);
}

/* -------- */
/* - MENU - */
/* -------- */

#header{
    position:fixed;
    width:960px;
    top:0px;
    z-index:2000;
}

#logo{
    position:absolute;
    top:0px;
    left:-2px;
    height:345px;
    width:427px;
    background-image:url(/img/site/logo.png);
    text-indent:-9999px;
}

#menu{
    position:absolute;
    width:924px;
    height:49px;
    left:356px;
    top:0px;
    background-image:url(/img/site/menubg.png);
    z-index:2005;
}

#menu ul {
    position:relative;
    margin-left:60px;
}

#menu ul li{
    display:inline;
    
}

#menu ul li a{
    display:inline-block;
    height:36px;
    line-height:36px;
    padding-left:8px;
    padding-right:8px;
    font-size:14px;
    text-transform:uppercase;
    text-decoration:none;
    
    -webkit-transition:color 0.2s ease-in;
    font-weight:100;
    letter-spacing:1px;
    color:#ababab;

    
}

#menu ul li a:hover, #menu ul li a.active{
  
    color:#fff;

}



/* ------------- */
/* - CONTAINER - */
/* ------------- */



.container{
    position:relative;
    width:100%;
    height:700px;
    background-repeat:no-repeat;

    background-position:center top;
}


.background{
    
    
/*
    -webkit-transform:rotate(-38.6deg);
    -moz-transform:rotate(-38.6deg);
*/
    
    height: 700px;
    padding: 0; margin: 0;
    width: 1280px;
    position: relative;
    margin: 0 auto;


    box-shadow:5px 5px 15px #000;
    
}

.container .content{
    width:700px;
    background-color:rgba(0,0,0,.8);
    position:absolute;
    right:48px;
    top:80px;
    z-index:50;
}

.container .content:after{
    content:'';
    width:700px;
    height:5px;
    background-color:#fff;
    position: absolute;
    bottom:-8px;
}


.container .content .content_title {
    position:relative;
    margin-top:-35px;
    height:26px;
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
    width:700px;
    border-bottom:5px solid #fff;

}

.container .content .content_copy{
    position:relative;
    width: 550px;
    padding: 26px 20px 26px 20px;
    
    font-size:16px;
    font-weight:100;
    line-height:18px;
    font-weight:400;
    
}

.container .content .content_copy a{
    color: #fff;
    opacity: .8;
    text-decoration: none;
}
.container .content .content_copy a:hover{
    opacity: 1;
    -webkit-transition:opacity 0.2s ease-in;
}


/* ------------ */
/* - About Us - */
/* ------------ */

#background_about{
    background: url(/img/site/backgrounds/aboutus.jpg) 50% 0 no-repeat fixed;
    z-index:20;
}

#container_about .content{
    z-index:21;
}




/* ---------- */
/* - Events - */
/* ---------- */

#background_events{
    background: url(/img/site/backgrounds/events.jpg) 50% 0 no-repeat fixed;

    z-index:18;
}

#container_events .content{
    z-index:19;
}

/* ---------- */
/* - Store - */
/* ---------- */

#background_store{
   background: url(/img/site/backgrounds/store.jpg) 50% 0 no-repeat fixed;

    z-index:16;
}

#container_store .content{
    z-index:17;
}

/* ---------- */
/* - Kinlock - */
/* ---------- */

#background_kinlock{
   background: url(/img/site/backgrounds/kinlock.jpg) 50% 0 no-repeat fixed;

    z-index:14;
    
}

#container_kinlock .content{
    z-index:15;
}

/* ---------- */
/* - Blog - */
/* ---------- */

#background_blog{
    background: url(/img/site/backgrounds/blog.jpg) 50% 0 no-repeat fixed;

    z-index:12;
}

#container_blog .content{
    z-index:13;
}

#container_blog #content_blog .content_copy{

}

#container_blog .content{
    width:400px;
}


/* ---------- */
/* - Contact - */
/* ---------- */

#container_contact{
background-image:url(/img/site/backgrounds/contact.jpg);
 background-position:left bottom;
 z-index:10;
}

#container_contact #content_contact{
    background:rgba(0,0,0, .8);
    right:50px;
    top:50%;
    margin-top:-136px;
    width:400px;
}




#container_contact #content_contact .content_copy{

    font-size:16px;
    font-weight:100;
        text-transform:uppercase;


}

#container_contact #content_contact .content_copy h3{
    font-size:24px;
    font-weight:100;
    margin-bottom:8px;
}

#container_contact #content_contact .content_copy #contact_address{
    line-height:20px;
    opacity:.7;
    margin-bottom:8px;
}




#container_contact #content_contact .content_copy #contact_details{
    line-height:20px;
    opacity:1;

    margin-top:18px;
    color: #ABABAB;
}



#container_contact #content_contact .content_copy #contact_details span{
    font-weight:normal;
    margin-right:8px;
}

#container_contact #content_contact .content_copy #contact_details a{
    text-decoration:none;
     color: #ABABAB;
}



#container_contact #content_contact .content_copy #contact_details a:hover{
    color:#fff;
}


/* black overides */


#container_contact .content:after {
    content:'';
    width:400px;
    height:5px;
    background-color:#000;
    position: absolute;
    bottom:-8px;
}

#container_contact .content_title{
    border-bottom:5px solid #000;
    color:#000;
    width:400px;
}


#container_blog .content:after {
    content:'';
 
    height:5px;
    background-color:#000;
    position: absolute;
    bottom:-8px;
    width:400px;
}

#container_blog .content_title{
    border-bottom:5px solid #000;
    color:#000;
    width:400px;
    
}


/* RIGHT NAV */



#right_nav{
    width:48px;
    height:100%;
    position:fixed;

    top:0;
    right:0;
    z-index:1000;
}

#right_nav_arrow{
    position: absolute;
    width:10px;
    height:31px;
    background-image:url(/img/site/arrow.png);
    top:50%;
    left:0px;
}

#right_nav_arrow:before{
    position: absolute;
    content:'';
    height:2000px;
    width:10px;
    background-color:rgba(255,255,255,.5);
    text-indent:9999px;
    bottom:31px;

}

#right_nav_arrow:after{
    position: absolute;
    content:'';
    height:2000px;
    width:10px;
    background-color:rgba(255,255,255,.5);
    text-indent:9999px;
    top:31px;

}


#right_nav_links{
    position: relative;
    width:38px;
    left:10px;
    height:100%;
    background-color:rgba(255,255,255,.5);
}

#right_nav_links_container{
    position: absolute;
    top:50%;
    left:5px;
    height:170px;
    margin-top:-85px;
}

.right_nav_link{
    position: relative;
    width:19px;
    height:19px;
    background-image: url(/img/site/right_nav_link.png);
    margin-top:8px;
    margin-bottom:8px;
}

.right_nav_link.active, .right_nav_link:hover{
    background-image: url(/img/site/right_nav_link_active.png);
}


.right_nav_link a{
    display: block;
    width:19px;
    height:19px;
}



/* MAP */

#map{
    position: relative;
    width:100%;
    height:100%;
    
}


#store_button_container, #blog_button_container{
    margin-top:10px;
    position: absolute;
margin-top: 40px;
margin-left: -23px;
}

#store_button_container{
 margin-top: 32px;
 margin-left: -26px;
 
}

#store_button_container a, #blog_button_container a{
    color:#fff;
    text-decoration:none;
    opacity: .8;
    text-transform:uppercase;
    display: block;
    width:129px;
    height:45px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    
    background-image: url(/img/site/shopbutton.png);
    cursor: pointer;

}

#blog_button_container a{
   background-image: url(/img/site/blogbutton.png); 
}

#store_button_container a:hover, #blog_button_container a:hover{
    opacity: 1;
    -webkit-transition:opacity 0.2s ease-in;
}



