/* Color Ref */
/*
 
 highlight text (teal): #color:#18b1a4;
 
*/


/* Z-index Ref */
/*
 
 containers (backgrounds): 1;
 header: 100;
 
*/

body {
    background-color:#aaa;
    color:#fff;
    font-family:Helvetica, Arial, sans-serif;
}

a{
    -webkit-transition:color 0.2s ease-in;
}
.clear{
    clear:both;
}

.wrap{
    width:960px;
    position:relative;
    margin:auto;
    border-left:2px solid #000;
    border-right:2px solid #000;
    min-height:800px;
}

/* -------- */
/* - MENU - */
/* -------- */

#header{
    position:fixed;
    width:960px;
    top:0px;
    z-index:100;
}

#logo{
    position:absolute;
    top:0px;
    left:0px;
    height:345px;
    width:427px;
    background-image:url(/img/site/logo.png);
    text-indent:-9999px;
}

#menu{
    position:absolute;
    width:600px;
    height:49px;
    right:0px;
    top:0px;
    background-image:url(/img/site/menubg.png);
}

#menu ul {
    position:relative;
    margin-left:60px;
}

#menu ul li{
    display:inline;
    
}

#menu ul li a{
    display:inline-block;
    height:36px;
    line-height:36px;
    padding-left:8px;
    padding-right:8px;
    color:#fff;
    font-size:14px;
    text-transform:uppercase;
    text-decoration:none;
    
    -webkit-transition:color 0.2s ease-in;
    font-weight:100;
    letter-spacing:1px;
    
}

#menu ul li a:hover, #menu ul li a.active{
    color:#18b1a4;

}



/* ------------- */
/* - CONTAINER - */
/* ------------- */



.container{
    position:relative;
    width:960px;
    height:700px;
    background-repeat:no-repeat;
    z-index:1;
    background-position:center top;
}

.container .content{
    width:700px;
    height:220px;
    background-image:url(/img/site/contentbg.png);
    position:absolute;
    right:0;
    top:50%;
    margin-top:-110px;
    
}

.container .content .content_title{
    position:absolute;
    left:10px;
    top:98px;
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
    -webkit-transform: rotate(-39deg);
    -moz-transform: rotate(-40deg);
    text-align:center;
    height:30px;
    width:320px;
}

.container .content .content_copy{
    position:absolute;
    width:405px;
    top:40px;
    right:10px;
    
    font-size:14px;
    font-weight:100;
    line-height:18px;
    
}


/* ------------ */
/* - About Us - */
/* ------------ */

#container_about{
    background-image:url(/img/site/backgrounds/about.jpg);
}


/* ---------- */
/* - Events - */
/* ---------- */

#container_events{
    background-image:url(/img/site/backgrounds/events.jpg);
}

/* ---------- */
/* - Store - */
/* ---------- */

#container_store{
    background-image:url(/img/site/backgrounds/store.jpg);
}

/* ---------- */
/* - Kinlock - */
/* ---------- */

#container_kinlock{
    background-image:url(/img/site/backgrounds/kinlock.jpg);
}

/* ---------- */
/* - Blog - */
/* ---------- */

#container_blog{
    background-image:url(/img/site/backgrounds/blog.jpg);
}

#container_blog #content_blog .content_copy{
    top:100px;
    text-indent:90px;
}


/* ---------- */
/* - Contact - */
/* ---------- */

#container_contact{
    background-image:url(/img/site/backgrounds/contact.jpg);
 
}

#container_contact #content_contact{
    background:none;
    left:0px;
    top:0px;
}

#container_contact #content_contact .content_copy{
    left:80px;
    top:400px;
    font-size:16px;
    font-weight:100;
        text-transform:uppercase;
}

#container_contact #content_contact .content_copy h3{
    font-size:18px;
    font-weight:bold;
    margin-bottom:8px;
}

#container_contact #content_contact .content_copy #contact_address{
    line-height:20px;
    opacity:.8;
    margin-bottom:8px;
}




#container_contact #content_contact .content_copy #contact_details{
    line-height:20px;
    opacity:.8;
    margin-bottom:22px;
}

#container_contact #content_contact .content_copy #contact_details span{
    font-weight:bold;
    margin-right:8px;
}

#container_contact #content_contact .content_copy #contact_details a{
    text-decoration:none;
    color:#fff;
}


#container_contact #content_contact .content_copy #contact_details a:hover{
    color:#18b1a4;
}








